<launch>
  <node pkg="urg_node" name="urg" type="urg_node">
    <param name="calibrate_time" type="bool" value="false"/>
    <param name="ip_address" value="192.168.0.10"/>
    <param name="intensity" type="bool" value="false"/>
    <param name="min_ang" type="double" value="-2.2689" />
    <param name="max_ang" type="double" value="2.2689" />
  </node> 
  <node pkg="laserscan" name="scan_to_cloud" type="scan_to_cloud" />
  <node pkg="laserscan" name="find_min_distance" type="find_min_distance" />
  
</launch>

